POSTGRES_DB=loyalty
POSTGRES_USER=loyalty
POSTGRES_PASSWORD=loyalty
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=5000
WEB_PORT=5173
MOBILE_PORT=5174

OBJECT_STORAGE_BUCKET=loyalty-media
OBJECT_STORAGE_PUBLIC_BASE_URL=http://localhost:9000
