POSTGRES_DB=loyalty
POSTGRES_USER=loyalty
POSTGRES_PASSWORD=loyalty
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

API_PORT=5000
WEB_PORT=5173
MOBILE_PORT=5174
MAGIC_LINK_CUSTOMER_APP_BASE_URL=http://localhost:5174
MAGIC_LINK_TTL_DAYS=180
REPORTING_ADMIN_PHONES=
REPORTING_SUSPICIOUS_WINDOW_MINUTES=60
REPORTING_SUSPICIOUS_STAFF_STAMP_THRESHOLD=40
REPORTING_SUSPICIOUS_CUSTOMER_REDEMPTION_THRESHOLD=3
REPORTING_SUSPICIOUS_ADJUSTMENT_THRESHOLD=6

OBJECT_STORAGE_BUCKET=loyalty-media
OBJECT_STORAGE_PUBLIC_BASE_URL=http://localhost:9000
